{% extends 'employees/base.html' %}


{% block content %}
<h2>Подтверждение удаления сотрудника</h2>

<h3>Вы действительно хотите удалить сотрудника: {{ employee.get_full_name }}</h3>

<form method="post">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'employees_list' %}" class="btn btn-secondary">Отмена</a>
    </div>
</form>

<p>
    <strong>Имя:</strong> {{ employee.first_name }}<br>
    <strong>Фамилия:</strong> {{ employee.last_name }}<br>
    <strong>Отдел:</strong> {{ employee.department }}
</p>
{% endblock %}
